.biden{
  display: none;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 150px;
  transform: rotate(270deg);
}
.biden-block{
 width: 100px;
 display: block;
 animation-name: header__visible;
 animation-duration: .3s;
 animation-timing-function: linear;
}
@keyframes header__visible{
   0% {
       transform: rotate(270deg) translateY(100px);
   }
   100% {
     transform: rotate(270deg) translateY(0px);/
   }
}
#wave {
   position: absolute;
   left: 0;
   top: 0;
   padding-top: 15%;
   height: 7em;
   background: navy;
   width: 100%;
